.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  gap: 24px;
  margin: 8px;
  padding: 8px;
  border: 2px solid #aacfd0;
  border-radius: 8px;
  background-color: #c9dede;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

.icon {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #c4d2ca;
  }
}

.noTodo {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.listRow {
  display: flex;
  align-items: center;
  gap: 8px;
}
