.container {
  position: relative;
  border: 2px solid #aacfd0;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  background-color: #c9dede;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

.icon {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: #c4d2ca;
  }
}

.noTodo {
  text-align: center;
}

.listRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0px 2px;

  &:hover {
    background-color: #79a8a9;
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
    &:hover {
      background-color: #c9c9c95c;
    }
  }
}
