.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c6e5d9;
  width: 400px;
  gap: 12px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.input {
  flex: 1;
  padding: 6px 16px;
  border: none;
  border-radius: 8px;
}

.button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0px 2px;

  &:hover {
    background-color: #79a8a9;
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
    &:hover {
      background-color: #c9c9c95c;
    }
  }
}
