.container {
  display: flex;
  flex-direction: column;
  border: 2px solid #aacfd0;
  min-height: 200px;
  gap: 24px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

.noTodo {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.listRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listLeftItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.listRightItem {
  display: flex;
}
